<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.noi25.testeinteligentaemotionala">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestsActivity"
            android:label="@string/title_activity_tests"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.noi25.testeinteligentaemotionala.MainActivity" />
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:parentActivityName=".TestsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.noi25.testeinteligentaemotionala.TestsActivity" />
        </activity>
        <activity
            android:name=".TestProgressActivity"
            android:label="@string/title_activity_test_progress"
            android:parentActivityName=".TestActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.noi25.testeinteligentaemotionala.TestActivity" />
        </activity>
        <activity
            android:name=".FinishTestActivity"
            android:label="@string/title_activity_finish_test"
            android:parentActivityName=".TestsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.noi25.testeinteligentaemotionala.TestsActivity" />
        </activity>
    </application>

</manifest>